:root{
--Primary-purple-600:hsl(238, 40%, 52%);
--primary-pink-400:hsl(358, 79%, 66%);
--primary-purple-200:hsl(239, 57%, 85%);
--primary-pink-200:hsl(357, 100%, 86%);
--neutral-grey-800:hsl(212, 24%, 26%);
--neutral-grey-500:hsl(211, 10%, 45%);
--neutral-grey-100:hsl(223, 19%, 93%);
--neutral-grey-50: hsl(228, 33%, 97%);
--neutral-white:hsl(0, 100%, 100%);
--p-fontsize:16px;
}
body{
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--neutral-grey-100);
    font-family: 'Rubik';
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
     margin: 2% auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.comment-section{
    width: 100%;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center; */

 
}
.comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-white);
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.response{
    text-decoration: none;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    background-color: var(--neutral-grey-100);
    padding: 1%;
    border-radius: 10px;
    /* font-size: 1.2rem; */
}
.score{
    margin: 4px 0px;
    color: var(--primary-purple-600);
}
.right{
    display: flex;
    flex-direction: column;
}
.comment-top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}
.comment-top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 6%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom .description{
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--neutral-grey-800);
}
.name{
    font-weight: bolder;
    font-size: 1rem;
}
#duration{
    color:var(--neutral-grey-500);
    font-size: 18px;   
}
.replyIcon{
    height: 30%;

}
.reply{
    color: var(--Primary-purple-600);
}
.reply-comment{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-white);
    padding: 3% 1%;
    width: 70%;
    border-radius: 20px;
    /* position: absolute;
    right: -2%; */
}
.reply-comment .comment-top-left{
    width: 36%;
}
.reply-comment .comment-top-right{
width: 10%;
}
.admin .comment-top-left{
    width: 38%;
}
.admin .adminName{
    background-color: var(--Primary-purple-600);
    color: white;
    padding: 2px 6px;
}
.admin .comment-top-right{
    width:28% ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.comment-top-right .delete{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.comment-top-right .delete:hover{
    cursor: pointer;
}
.comment-top-right .edit{
    width: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.comment-top-right .edit:hover{
    cursor: pointer;
}
.text-input{
    display: none;
}
.reply-textinput{
    width: 100%;
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.reply-textinput .avatar{
    height: 30%;
}
#replyText{
    width:70% ;
    height:150px;
    border-radius: 10px;
}
.reply{
    width: 70%;
}
.Btn{
    text-decoration: none;
    background-color: var(--Primary-purple-600);
    padding: 10px 24px;
    color: var(--neutral-white);
    border-radius: 10px;
}
.hide{
    display: none;
}
#userInputComment{
    width: 80%;
    height:150px;
    resize: none;
    border-radius: 10px;
font-size: 1rem;
}
.delete-container{
    width: 30%;
    background-color: var(--neutral-white);
    padding: 16px;
    border-radius: 10px;
    position: absolute;
    top: 34%;
    right: 45%;
}
.delete-container p{
    font-size: 1.4rem;
    word-spacing: 8px;
    color: var(--neutral-grey-500);
}
.btn-confirm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.btn-confirm a{
    text-decoration: none;
    margin-right: 10px;
}
.btn-confirm a:nth-of-type(1){
    background-color: var(--neutral-grey-500);
    color: var(--neutral-white);
    padding: 10px 40px;
    font-weight: 400;
    border-radius: 10px;
}
.btn-confirm a:nth-of-type(2){
    background-color: var(--primary-pink-400);
    color: var(--neutral-white);
    padding: 10px 40px;
    font-weight: 400;
    border-radius: 10px;
}
.replyingTo{
    color: var(--Primary-purple-600);
}
.plus,.minus{
    width: 20px;
}
.reply:hover{
    opacity: 0.7;
    cursor: pointer;
}
.blur{
    filter: blur(4px);
}
.overlay{
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
}
.overlay .active{
    display: block;
}
#edit-area{
    width:90%;
    height: 150px;
    margin-top: 1%;
    font-family: 'Rubik';
    font-size: 1.2rem;
    border-radius: 10px;
}
.admin{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.admin .right{
    width: 100%;
}
.admin .top{
    width: 100%;
}
.adminCommentSection{
    width: 100%;
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.adminCommentSection textarea{
    width: 80%;
    height:150px;
    resize: none;
    border-radius: 10px;
font-size: 1rem;
}
.adminCommentContainer{
    width:100% ;
}
.adminCommentContainer .comment-top-left{
    width: 25%;
}
.fixedposition{
    position: fixed;
}
/* writing the media qureries for the small mobile designs */
@media only screen and (max-width:410px){
    .container{
        align-items: center;
        width:100% ;
        margin: 0 0;
    }
.comment{
   width:100%;
   position: relative;
   border-radius: 5px;
}
.comment-top-left{
    width: 80%;
}
.comment .comment-top-right{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.bottom{
    padding: 3%;
}
.bottom .description{
    font-size: 1rem;
    line-height: 1.2;
    width: 95%;
    position: relative;
}
.comment .left{
    position: absolute;
    bottom: 1%;
    left: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin: 0;
}
.plus,.minus,.score{
    width:15px ;
    margin: 0;
    padding: 0;
}
.response{
    display: flex;
    align-items: center;
}
.reply-comment{
    width: 100%;
    position: relative;
}
.reply-comment .comment-top-left{
    width: 80%;
}
.reply-comment .comment-top-right{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.reply-comment .left{
    position: absolute;
    bottom: 1%;
    left: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin: 0;
}
.admin .comment-top-right{
    width: 50%;
}
#userInputComment{
    width: 60%;
}
.reply{
    width:100%
}
.delete-container{
    width:90% ;
    right:1%;
}
.updateBtn{
    position: absolute;
    bottom: 1%;
}
}